
<div class="form-group">
  <mat-form-field appearance="fill">
    <mat-label>Choose a Project</mat-label>
    <mat-select #chosenProjectId>
      <mat-option *ngFor="let project of (projectService.projects$ | async)" [value]="project.projectId">
        {{project.projectName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="openForm(chosenProjectId.value)" [disabled]="!chosenProjectId.value">Submit</button>
</div>

<div class="project-container" *ngIf="projectId">
  <app-project-form [projectId]="projectId"></app-project-form>
</div>


<div>
  <ul *ngFor="let project of (projectService.projects$ | async)">
    <li>{{project.projectName}}
      <ul *ngFor="let task of project.tasks">
        <li>{{task.taskName}} - total estimate: {{task.totalEstimate}} - total employee estimate: {{task.totalEmployeeEstimate}}
          <ul *ngFor="let assignedEmployees of task.assignedEmployees">
            <li>{{assignedEmployees.employeeId | mapEmployee }} - {{assignedEmployees.employeeEstimate}}</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>

